html {
	font-size: 10px;
}

.section--bglight {
	background-color: #f4f4f4;
}

.section--bgdark {
	background-color: #2e3e4f;
}

.home--bgtown {
	background-image: url(img/town.png);
	background-size: cover;
	margin-top: -2px
}

.section--bgtown {
	background-image: url(img/town.png);
	/*	height: 29.5rem;*/

	background-position: 100% 77%;
}

.navbar-brand {
	font-size: 2rem;
	color: #515862;
}

.ul__item:hover {
	background-color: #12a3d6;
	border-bottom:solid 8px #0080b7;
}

.ul__item:hover::before{
	content: "";
	position: absolute;
	left: calc(50% - 8px);
	bottom: 0px;
	border: 7px solid transparent;
	border-bottom: 7px solid #0080b7;

}


.ul__item:hover .ul__link {
	color: #c5f4ff;
	text-decoration: none
}

.section__h2 {
	color: #cccece;
	font-size: 4rem;
}

.section__p {
	color: #cccece;
	font-size: 1.4rem;
	line-height: 1.8rem

}

.section__input {
	background-color: #f98561;
	color: #ffebca;
	font-size: 2.5rem;
	width: 24.3rem;
	height: 5.1rem;
	border-radius: 0.5rem;
	margin-top: 3.6rem;
	margin-bottom: 18.5rem;
}

.section__btn {
	color: #fff;
	background-color: #2190c1;
	font-size: 2.2rem;
	width: 14.3rem;
	height: 3.5rem;
	line-height: 3.5rem;
	border-radius: 0.5rem;
	margin-top: -1.75rem;
	z-index: 100;
}

.services {
	color: #515862;
	padding-top: 3rem
}

.services__h2 {
	font-size: 1.7rem;
	padding-top: 2.1rem;
	margin-bottom: 0.7rem
}

.services__p {
	font-size: 1.1rem
}

.button {
	background-color: #2190c1;
	width: auto;
	height: 25px;
	width: 90px;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 0.4rem;
	box-shadow: 0px 3px 2px 0px #025568;
}

.button:hover {
	background-color: #12a3d6;
	color: #fff;
	box-shadow: 0px 3px 2px 0px #025568;
}

.button:focus {
	background-color: #12a3d6;
}

.button:active {
	background-color: #12a3d6;
	color: #fff;
	box-shadow: 0px -3px 2px 0px #025568;
}

.h2--dark {
	font-size: 3rem;
	color: #f98561;
}

.h3--dark {
	font-size: 1.7rem;
	color: #f98561;
	padding-top: 2rem;
}

.p--dark {
	font-size: 1.1rem;
	line-height: 1.5rem;
	color: #a3afb2;
}

.img-block {
	background-color: #bebebe;
	background-repeat: no-repeat;
	background-position: center center;
	border: white 10px solid;
	height: 220px;
	width: 285px;
}

.img-block--camera {
	background-image: url(img/camera.png);
}

.img-block__button {
	border: 1px solid #ffffff;
	border-radius: 10px;
	padding-right: 2.2rem;
	padding-left: 2.2rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	font-size: 1.7rem;
	width: 14rem;
}

.p--light {
	color: #515862;
	font-size: 1.2rem;
	padding-top: 1rem;
	}

.h3--light {
	color: #2b99cc;
}

.h2--light {
	color: #2190c1;
}

.section__link {
	color: #2190c1;
	font-size: 1.4rem;
	font-family: bree serif;
	text-decoration: none;
}

.h4--dark {
	color: #f98561;
}

.h4__text {
	font-weight: 800
}

.p--big-font {
	font-size: 2.5rem;
	line-height: 3.2rem;
	padding-bottom: 2.6rem

}

.h3--dark {
	font-size: 3rem;
	color: #f98561;
	line-height: 2.6rem;
}

.bot__border {
	padding-bottom: 1rem;
}

.bot__border::after {
	content: "";
	/* This is necessary for the pseudo element to work. */
	display: block;
	/* This will put the pseudo element on its own line. */
	margin: 0 auto;
	/* This will center the border. */
	width: 100%;
	/* Change this to whatever width you want. */
	margin-top: 10px;
	/* This creates some space between the element and the border. */
	border-bottom: 1px solid grey;
	/* This creates the border. Replace black with whatever color you want. */
}

.footer__p {
	font-size: 1.2rem;
	margin: 0;
	line-height: 2rem
}

.footer__link {
	font-size: 1.2rem;
	color: #2190c1
}

.form__label {
	color: #2190c1;
	font-size: 1.3rem;
}

.section__h3 {
	font-size: 1.7rem;
	padding-top: 1rem
}

.section__h1 {
	color: #cccece;
	font-size: 6rem;
	padding-top: calc((295px - 95px ) / 2 + 7px);
	padding-bottom: calc((295px - 95px)/2 - 12px)
}

.footer__h3 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.h1--big {
	font-size: 8rem;
}

.h2--big{
	font-size: 5rem;
}

.h1--light {
	color: #2b99cc;
}

.page-num {
	background-color: darkgrey;
	color: #fff;
	padding: 4px 10px;

	font-size: 1.3rem;
	border-radius: 0.4rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}

.button--prev {
	border-radius: 0.4rem 0 0 0.4rem;
	box-shadow: none;
	margin-left: 5px;
	width: 65px;
}

.button--next {
	border-radius: 0 0.4rem 0.4rem 0;
	box-shadow: none;
	margin-right: 5px;
	width: 65px
}

.section--bordered {
	border-top: 1px solid #b2d5e4;
	border-bottom: 1px solid #b2d5e4;
	padding-top: 2.5rem;
	height: 145px
}



.h2--small {
	font-size: 3.5rem;
}

.span--blue {
	color: #2b99cc
}

.span--red {
	color: red;
}

.p--bold {
	font-weight: bold;
	line-height: 2rem
}

.team {
	background: #fff;
	border: 1px solid #d3d3d3;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin: 25px 0 25px 0;
}

.team--shadow-left {
	box-shadow: -11px -11px #d3d3d3;
}

.team--shadow-right {
	box-shadow: 11px -11px #d3d3d3;
}


.section__h4 {
	font-size: 1.4rem;
	padding-top: 2rem
}

.h4--blue {
	color: #2190c1;
}

.section-bordered2 {
	border-bottom: 3px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	}

.benefits--border {
	border-left: 1px solid #c0c0c0;
	padding-top: 4rem
}

.benefits--border-right {
	border-right: 1px solid #c0c0c0;
}

.ul__link {
	font-size: 1.4rem;
	color: #515862;
}

.nav__form {
	font-size: 1.2rem;
	color: #515862;
}

.form__a {
	color: #515862;
}

.nav__ul {
	margin: 0;
}

.nav-bar {}


.home__h1 {
	color: #cccece;
	font-size: 6rem;
	padding-top: 10rem;
	padding-bottom: 0rem;
}

.section {
/*	padding: 3rem 0 3rem 0;*/
}



.ul__item,
.ul__blog {
	padding-top: 3.2rem;
	padding-bottom: 2rem;
	border-bottom:solid 8px #f4f4f4;
	position: relative;
}

.ul {
	margin: 0;
}

.li--burger {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.blog {
	background-color: #f98561;
	border-radius: 0.2rem;
	width: 65px;
	color: white;
}

.blog:hover {
	text-decoration: none;
	color: black
}

.portfolio__nav {

}

.nav__li {
	display: inline-block;
}

.dropdown-menu {
	background-color: #f98561;
	font-size: 1rem;
}

.nav-pills .nav-link.active {
	background-color: #2e3e4f00;
	color: #12a3d6;
}

.nav-link{
	color:#515862
}

.nav {
	font-size: 1.6rem;
	padding-top: 2.8rem;
	padding-bottom: 3.8rem

}



.wrapper {
	width: 285px;
}

.navdots li{
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	margin: 2px;
	background-color: #adadad;
	border-radius: 50%;
}
.navdots li:hover{
	background-color: #12a3d6
}
.navdots li.tns-nav-active{
	background-color: #2b99cc;
	border: #f98561 4px solid;
}

.navdots {
	display: inline-block;
	position: absolute;
	top: 90%;
	right: 15%;
	z-index: 100;
	padding: 0;
}

.navtabs{
	display: inline-block;
	position: relative;
	margin-left: calc((100% - 69px * 3)/2);
	z-index: 100;
	padding: 0;
}

.navtabs li{
	height: 67px;
	width: 67px;
	display: block;
	float: left;
	margin: 2px;
	background-color: #adadad;
	border-radius: 50%;
	background-image: url(img/com_wom.png);
	background-size: contain
}
.navtabs li div{
	width: 67px;
	height: 6px;
	margin-left: 2px;
	margin-right: 2px;
	background-color: inherit;
	position: absolute;
	bottom: -20%;
}

.navtabs li:hover {
	background-color: #f98561;
	}

.navtabs li.tns-nav-active{
	background-color: #f98561;

}

.navtabs li.tns-nav-active div::before{
	content: '';
    position: absolute;
    left: 26px; bottom: 5px;
    border: 5px solid transparent;
    border-bottom: 5px solid #f98561;
}


.slider-container {
	position: relative;
}

.portfolio {
	padding-top: 4.8rem;
	padding-bottom: 4.8rem
}

.footer {
	padding-top: 2rem
}

.pagination {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.benefits__h3 {
	font-size: 2.0rem;
	padding-top: 3.2rem

}

.team__h2 {
	font-size: 5rem;

}

.section-team {
	padding-top: 5rem;
	padding-bottom: 5rem
}

.get_in_touch__h2 {
	font-size: 5rem
}

.get_in_touch-section {
	padding-top: 2rem;
	padding-bottom: 8rem
}

.form {
		padding-left: 6rem;
	padding-right: 5rem;

}

.contact {
	padding-top: 5.5rem
}

.form-group label{
	margin-top: 2rem
}

.get_in_touch__icons img{
	margin-left: 7px
}

.contact__h2 {
	margin-top: 3rem;
	margin-bottom: 2rem
}

.contact__icons img{
	padding-bottom: 1rem;
	padding-top: 2rem;
	padding-left: -1rem;
}

.contact__text {
	padding-top: 2rem;

}
