.section__h2,
.section__btn,
#section4 h2,
#section5 h2,
footer h3 {
	font-family: 'Bebas Neue', cursive;
}


.section__p,
nav,
#section1 p,
#section3 p,
#section4,
#section5 h4,
footer {
	font-family: 'Ubuntu',
		sans-serif;
}

.section__input {
	font-family: 'Ubuntu Condensed',
		sans-serif;
}

.navbar-brand,
.services,
#section3,
#section4 h3,
#section5 p {
	font-family: 'Bree Serif',
		serif;
}
