.font-bebas-neue {
	font-family: 'Bebas Neue', cursive;
}

.font-bebas {
	font-family: 'Bebas';
}

.font-ubuntu {
	font-family: 'Ubuntu',
		sans-serif;
}

.section__input {
	font-family: 'Ubuntu Condensed',
		sans-serif;
}

.bree-serif {
	font-family: 'Bree Serif',
		serif;
}
